.root {
    -fx-font-size: 16px;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #668B8B;
}

.button:hover {
    -fx-background-color: grey;
}

#fancytext {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}